---
// ここは設定エリア（今は空でOK）
---
<h1>ブログ記事一覧</h1>
<ul>
  <li><a href="/posts/2026-03-27">2026年3月27日の日記</a></li>
  <li><a href="/posts/2026-03-28">2026年3月28日の日記</a></li>
</ul>

<hr />
<a href="/">トップへ戻る</a>