---
import BlogPost from '../components/BlogPost.astro';
import Layout from '../layouts/Layout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "ホームページ";
---

    <Layout>

  <main>
   

<h1>ブログ記事一覧</h1>
<ul>
  {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
</ul>

<hr />
<a href="/">トップへ戻る</a>

  </main>
  
    </Layout>

    