---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Home Page";
import Greeting from '../components/Greeting';

---
<Layout pageTitle={pageTitle}>
  <h2>私の素晴らしいブログのサブタイトル</h2>
  <Greeting client:load messages={['こんにちは', 'Hello', 'Hola']} />
  </Layout>