---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
---
// ここは設定エリア
---

  <main>
    <h1>こんにちは！僕のサイトへようこそ</h1>
    <p>ここに好きな文章を書いてみてください。</p>
  </main>

</Layout>
